# 游戏代币配置
VITE_GAME_TOKEN_ADDRESS=0x7685ac3047ee9C95798E4DA688c890CD25Ff7777
VITE_GAME_VAULT_ADDRESS=
VITE_GAME_LEVEL_FEE=100
VITE_GAME_ITEM_FEE=50
VITE_GAME_WIN_REWARD=500
VITE_GAME_LEVELS_FOR_REWARD=5
VITE_GAME_SIGNER_URL=https://api.kimi-vault.com/kapi
