{
  "ver": "1.1.0",
  "uuid": "451bced2-c146-4c13-a23f-d96594f043b5",
  "importer": "javascript",
  "isPlugin": false,
  "loadPluginInWeb": true,
  "loadPluginInNative": true,
  "loadPluginInEditor": false,
  "subMetas": {}
}